.dvform{
    border-radius: 20px;
    background-color: lightpink;
    align-items: center;
    padding-top: 20px;
    padding-right:40px ;
    padding-bottom: 20px;
    padding-left: 40px;
    color: black;
    font-family: Arial;
    font-size: 18px;
}
.input{
    width: 25%;
    background-color: lightcyan;

}
select{
    width: 25%;
}
.btnsub{
    background-color: darkseagreen;
    font-family: Arial;
    font-size: 18px;
}
.btncan{
    background-color: coral;
    font-family: Arial;
    font-size: 18px;

}
body{
    background-image: url("hot1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
