.mainnav{
    width: 100%;
    padding: 10px;
    background-color: aquamarine;
    align-content: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;

}

.navprp {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.listimg{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tabs{
    width: 240px;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
}
.subdiv {
    float: left;
}
.cust{
     float: left;
 }

.subdiv a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}

/* Change the link color to #111 (black) on hover */
.subdiv a:hover {
    background-color: cornflowerblue;
    color: blue;
    font-size: 30px;
    border-radius: 10px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

 /*Hide the images by default*/
.mySlides {
    display: none;
}

 /*Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    font-weight: bold;
    font-family: Arial;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.row {
    display: flex;
}

.column1 {
    flex: 50%;
    background-color: black;
    color: #f2f2f2;
    font-family: Arial;

}
.column2{
    flex: 50%;
    background-color: darkgray;
    color:  purple;
    font-family: Arial;

}
.contact{
    font-family: Arial;
    color: cadetblue;
    background-color: antiquewhite;
    align-content: center;
}

.con1{
    font-family: Arial;
    font-weight: bold;
    color: azure;
}
.con2{
    font-family: Arial;
    font-weight: bold;
    color: olive;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.qq{
    font-family: Lucida Console;
    color: cadetblue;
    font-size: 50px;
}
hr{
    border-color: skyblue;
    border-radius: 25px;
    border-width: 5px;
    color: skyblue;

}