.dvform{
    border-radius: 20px;
    background-color: lightyellow;
    align-items: center;
    padding-top: 20px;
    padding-right:40px ;
    padding-bottom: 20px;
    padding-left: 40px;
    font-family: Arial;
    font-size: 18px;
    flex: 50%;
}
.input {
    width: 25%;
    background-color: lightcyan;
    border: none;
    height: 20px;
}

textarea{
    width: 25%;
    background-color: lightcyan;
    border: none;
}
select{
    width: 25%;
}
.btnsub{
    background-color: darkseagreen;
    font-family: Arial;
    font-size: 18px;
}
.btncan{
    background-color: coral;
    font-family: Arial;
    font-size: 18px;

}
.crow{
   display: flex;
}
.col1{
    flex: 50%;
    border-radius: 20px;
}
.col2{
    flex: 50%;
    border-radius: 20px;
}


